[alias]
	co = checkout
	st = status
	br = branch
	pu = pull
	ci = commit
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	lg = !"git lg1"
	po = push --set-upstream origin
[user]
	name = Dan Villa
	email = dvilla@collineargroup.com
[http]
[https]
[push]
	default = current
[https]
[http]
[http]
[https]
[core]
[credential]
